body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator{
    --button-width: 80px;
    --button-height: 80px

    display: grid;
    grid-template-areas: "result result result result"
                         "ac plus-mius percent divide"
                         "number-7 number-8 number-9 multipy"
                         "number-4 number-5 number-6 subtract"
                         "number-1 number-2 number-3 add"
                         "number-0 number-0 dot equal";
    grid-template-columns: repeat(4, var(--button-width));
    grid-template-rows: repeat(6, var(--button-height));

    box-shadow: ;
}